/* Universal CSS applied to ALL pages */

  :root {
    font-size: 14px;
  }

  html {
    overflow-x: hidden;
  }

  body {
    background: #FAFAFA;
    padding: 32px;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  section {
    margin-bottom: 20px;
  }

  p {
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 13px;
    line-height: 1.5rem;
  }

  button {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #2F5A71;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -5%;
    margin-top:3%;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }

  button:hover {
    background-color: #A2B2BB;
    color: #003C5C;
    font-weight: 500;
  }

  h3 {
    font-family: "Montserrat";
    font-weight: 650;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #C77708;
  }

/* Top Bar */
  nav {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 50px;
    height: 40px;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .links {
    font-size: 1.5rem;
  }

  .links a {
    font-variant: small-caps;
    text-decoration: none;
    color: #2F5A71;
    font-family: "Montserrat";
    font-weight: bolder;
  }

  .links a:not(:last-child) {
    margin-right: 10px;
  }

  a:hover {
    color: #A2B2BB;
  }

/* Contact Links at bottom */
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: 2rem;
    margin-bottom: 10px;
  }

  .linkedin img {
    width: 50%;
  }

  .mail img {
    width: 50%;
  }

  .twitter img {
    width: 50%;
  }

/* Specific to Homepage (index) */

  .intro {
    display: block;
    align-items: center;
  }

  /* My Homepage Picture */
  .HeroImage img {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px;
  }

  /* H1 */
  .reisa {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
    text-align: center;
  }

  .indexconnectbtn {
    margin-top: -5%;
  }

  .PointBoxIndex {
    display: block;
    margin-left: auto;
    margin-right: 10px;
  }

  .PointBoxIndex img {
    width:100%;
    height: 100%;
  }

  .casestudybtn {
    margin-top: -5%;
  }

/* CSS specific to PointBox Case Study (project) */

  h2 {
    font-family: "Montserrat";
    font-weight: 650;
    font-size: 26px;
    margin-bottom: 10px;
    color: #C77708;
    padding-top: 5px;
    line-height: 1.5;
  }

  hr {
    border: 1px solid #2F5A71;
  }

  h4 {
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1.3rem;
  }

  form {
    margin-bottom: 10px;
    margin: 0 auto;
  }

  .quote {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: .5rem;
  }

  .callout {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .parenthasis {
    font-size: 100px;
    font-weight: lighter;
    margin-top: -2%;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  /* Display 3 buttons horizontally */
    .threecombo {
      margin-top: -10px;
      margin-right: auto;
      margin-left: auto;
    }

    .threecombobtn {
      margin-top: -5%;
    }

  /* Background of Specific Sections */
  .backgroundcolored {
    margin: 0 -9999rem;
    margin-bottom: 20px;
    padding: 1rem 9999rem;
    padding-top: 2rem;
    background: #F5EDE2;

  }

  /* H1 */
  .pointboxtitle {
    font-weight: 750;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
    font-family: "Montserrat";
  }

  /* Description of app */
  .whatPBIs {
    font-family: "Montserrat";
    text-align: center;
  }

  .pbprototypebtn {
    margin-top: -5%;
    margin-bottom: -10%;
  }

  .PBHeader img {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 25px;
  }

  /* Process Section */
  .processSection {
    margin-top: 10px;
  }

  /* Competitive Analysis Section */
    .swot {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .swot1 img {
      width: 6rem;
    }

    .swot2 img {
      width: 10rem;
      padding-right: 6px;
    }

    .swot3 img {
      width: 7rem;
    }


  /* User Research Section */
    .surveystatsB {
      display: flex;
      padding-top: 1%;
      padding-left: 20%;
      font-family: "Montserrat";
      width: 80%;
    }

    .stat1B {
      font-weight: 800;
      margin-right: 3rem;
      
    }

    .stat2B {
      font-weight: 800;
      margin-left: rem;
    }

    .piecharts img {
      width: 90%;
      display: block;
      margin-bottom: 15px;
    }

    .stat1A {
      display: flex;
      align-items: baseline;
    }

    .stat2A {
      display: flex;
      align-items: baseline;
    }

    .stat3A {
      display: flex;
      align-items: baseline;
    }

    .percent {
      padding-right: 10px;
      padding-top: 10px;
      font-family: "Montserrat";
      font-size: 20px;
      font-weight: bolder;
    }

  /* User Personas Section */
  .userpersonas img {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 15px;
  }

  /* User Stories & Flows Section */
  .userflow img {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 15px;
  }

  /* Wireframes & Usability Tests Section */
    .LFM img {
      width: 100%;
      height: 100%;
      margin-right: auto;
      display: block;
      margin-bottom: 5px;
    }

  /* Branding Section */
    .styleguide img {
      width: 100%;
      height: 100%;
      display: block;
      margin-bottom: 15px;
      padding-top: 10px;
    }

    .stylebtn {
      margin-top: -5%;
    }

  /* Preference Tests Section */
    .preferenceTesting {
      text-align: center;
    }
    
    .testone img {
      width: 100%;
      height: 100%;
      display: block;
    }

    .testtwo img {
      width: 100%;
      height: 100%;
      display: block;
    }

    .testthree img {
      width: 100%;
      height: 100%;
      display: block;
    }

    .PTFinal img {
      width: 100%;
      height: 100%;
      margin-right: auto;
      display: block;
      margin-bottom: 20px;
    }

  /* High Fidelity Mockups & Usability Tests Section */
  .HFM img {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 5px;
  }

  /* Conclusion Section */
  .conclusionsection {
    margin-bottom: 30px;
    padding-top: 10px;
  }
    
  /* Back To Top Link */
    .backtotop {
      font-size: 1.5rem;
      margin-bottom: 3rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .backtotop a {
      font-variant: small-caps;
      text-decoration: none;
      color: #2F5A71;
      font-family: "Montserrat";
      font-weight: bolder;
    }

/* CSS specific to Bio page */

  /* My Bio Picture */
  .SubheroImage img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    margin-right: 10px;
    float: left;
    border-radius: 10px;
  }

  /* Picture Subtitle */
    .how {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 10px;
      margin-top: 15px;
      line-height: 2.2rem;
      text-align: center;
    }

    .glad {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 10px;
      line-height: 2rem;
      text-align: center;
    }

    .subbio {
      font-family: "Montserrat";
      text-align: center;
      font-size: 16px;
      font-weight: 200;
      line-height: 1.6rem;
    }

    .biobtn {
      margin-top: -5%;
    }

  .uxjourney {
    display: inline-block;
    padding-bottom: 13px;
  }

  /* Bio Icons */
    .search img {
      width: 9%;
      height: 9%;
      float: left;
      padding-right: 15px;
    }

    .load img {
      width: 10%;
      height: 10%;
      float: left;
      padding-right: 15px;
    }

    .done img {
      width: 10%;
      height: 10%;
      float: left;
      padding-right: 15px;
    }

/* CSS specific to Contact Form */

  .blurbsection {
    margin-bottom: -5px;
  }

  .blurb {
    width: 83%;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .blurbtitle {
    width: 83%;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 25px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin-left: -1.5rem;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    padding: 20px;
  }

  label {
    color: #C77708;
    font-size: 18px;
  }

  /* Email section */
    .email {
      padding-bottom: 15px;
      text-align: left;
      width: 83%;
      margin: 0 auto;
    }

    input {
      width: 80%;
      height: 20px;
      border-color: #2F5A71;
      border-width: .2rem;
      margin-bottom: 25px;
      border-style: solid;
    }

  /* Message section */
    .message {
      padding-bottom: 15px;
      text-align: left;
      width: 83%;
      margin: 0 auto;
    }

    textarea {
      width: 80%;
      height: 200px;
      border-color: #2F5A71;
      border-width: .2rem;
      margin-bottom: 25px;
      border-style: solid;
    }

    .contactbtn {
      width: 83%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
    }


@media screen and (min-width: 768px) {
/* Universal CSS applied to ALL pages */

  :root {
    font-size: 20px;
  }

  section {
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  p {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.6rem;
  }

  button {
    font-size: 20px;
  }

  h3 {
    font-size: 38px;
    margin-bottom: 20px;
  }

  /* Top Bar */
    nav {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    .logo {
      width: 3rem;
      height: 3rem;
    }

    .links a:not(:last-child) {
      margin-right: 25px;
    }

  /* Contact Links at bottom */
    footer {
      margin-left: auto;
    }

    .linkedin img {
      width: 40%;
      margin: 30px;
    }

    .mail img {
      width: 40%;
      margin: 30px;
    }

    .twitter img {
      width: 40%;
      margin: 30px;
    }

/* Specific to Homepage (index) */

  .verticalalignment {
    display: flex;
    flex-direction: column;
  }

  /* My Index Picture */
    .HeroImage img {
      margin-top: 5%;
    }

    .HeroImage {
      width: 50%;
      height: 50%;
      display: inline-block;
      margin-right: 50px;
    }

  .bioindex {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }

  /* H1 */
  .reisa {
    font-size: 44px;
    text-align: left;
    line-height: 1.3;
  }

  .indexconnectbtn {
    float: left;
    margin-bottom: 10px;
    margin-left: .5rem;
  }

  .introindex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  button.indexconnectbtn {
    max-width: 300px;
  }

  button.casestudybtn {
    max-width: 300px;
  }

  .pbhomepage {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .PointBoxIndex img {
    width:100%;
    float: right;
    padding-bottom: 40px;
  }

  .PointBoxIndex {
    width: 45%;
  }

  .pbindex {
    max-width: 45%;
    float: left;
  }

  .casestudybtn {
    float: left;
    margin-left: .5rem;
  }

/* CSS specific to PointBox Case Study */

  h2 {
    font-size: 36px;
    padding-bottom: 5px;
  }

  h4 {
    font-size: 22px;
    line-height: 1.5rem;
  }

  /* H1 */
  .pointboxtitle {
    font-size: 40px;
    padding-bottom: 5px;
  }

  .PBHeader img {
    padding-bottom: 25px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  /* Description of app */
  .whatPBIs {
    font-size: 20px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .pbprototypebtn {
    margin-top: -2%;
    margin-right: auto;
    margin-left: 3%;
    max-width: 300px;
  }

  .callout {
    font-size: 30px;
    font-weight: bolder;
    line-height: 1.2;
    align-content: center;
  }

  .parenthasis {
    margin-top: -4%;
    font-size: 150px;
  }

  .quote {
    padding-top: 3%;
    margin-bottom: 3%;
  }

  /* Display 3 buttons horizontally */
  .threecombo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }

  .threecombobtn {
    min-width: 200px;
    max-width: 350px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .processSection {
    margin-top: 20px;
  }

  /* Competitive Analysis Section */
    .swotsection {
      display: flex;
      padding-bottom: 20px;
    }

    .swottitle {
      display: inline-block;
      padding: 0 0 5% 0;
    }
  
    .swot {
      float: right;
      display: inline-block;
      text-align: center;
      padding-left: 15px;
      margin-top: auto;
      margin-bottom: auto;
    }

    .swot3 {
      padding-top: 10px;
    }

    .CompetitiveAnalysisTitle {
      width: 100%;
    }

  /* User Research Section */
    .userpersonassection {
      margin-top: 10px;
    }

    .userresearchSection {
      margin-top: -10%;
    }

    .stat1A {
      flex-direction: column;
      width: 50%;
      padding-right: 10%;
    }

    .stat2A {
      flex-direction: column;
      width: 50%;
      padding-right: 10%;
    }

    .stat3A {
      flex-direction: column;
      width: 50%;
    }

    .percent {
      padding-bottom: 10px;
      font-size: 36px;
    }

    .surveystatsA {
      display: flex;
      justify-content: stretch;    
      max-width: 115%;
      margin: 0 auto;
      padding-bottom: 10px;
    }

    .surveystatsB {
      padding-top: 3%;
    }

    .stat1B {
      margin-right: 5rem;
    }

    .stat2B {
      margin-left: -1rem;
    }

  /* User Personas Tests Section */
    
    .userpersonas {
      padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }

    .userpersonaA {
      padding-top: .5rem;
    }

    .userpersonaB {
      padding-top: 1rem;
      margin-bottom: -3rem;
    }

  /* User Stories & Flows Section */
  .userflow img {
    margin-bottom: 25px;
  }

  /* Branding Section */
    .styleguide img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }

    .styleguide img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }

    .stylebtn {
      margin-top: -15px;
      margin-left: 3%;
      max-width: 300px;
    }

  .preferenceTesting {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .LFM img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding-top: 15px;
    width: 75%;
  }

  /* High Fidelity Mockups & Usability Tests Section */
    .HFM img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      padding-top: 15px;
      width: 75%;
    }
    
    .HFMsection {
      padding-top: 10px;
    }

  /* Back To Top Link */
  .backtotop {
    margin-bottom: 1rem;
    margin-left: -1.5rem;
  }

/* CSS specific to Bio */

  /* My Bio Picture */
    .SubheroImage img {
      margin-top: 15px;
    }

    .SubheroImage {
      width: 50%;
      display: inline-block;
    }

  .bio {
    float: right;
    width: 40%;
    display: inline-block;
    padding-left: 5%;
  }

  .intro {
    display: flex;
    flex-direction: row;  
    align-items: flex-start;
    justify-content: space-evenly;
  }

  /* Picture Subtitle */
    .how {
      text-align: left;
      font-size: 42px;
      padding-bottom: 10px;
      line-height: 1.3;
    }
    .glad {
    text-align: left;
    font-size: 38px;
    line-height: 1.3;
    padding-bottom: 5px;
    }

    .subbio {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    }

    .biobtn {
      float: left;
      margin-left: 3%;
      margin-top: -20px;
      max-width: 300px;
    }
    
  .uxjourney {
    margin-bottom: -20px;
  }
  
  /* Bio Icons */
    .search img {
      max-width: 50px;
    }

    .load img {
      max-width: 50px;
    }

    .done img {
      max-width: 50px;
    }

/* CSS specific to Contact Form */

  .blurb {
    width: 75%;
    font-size: 26px;
    line-height: 1.4;
    font-weight: 400;
  }

  .blurbtitle {
    width: 75%;
    font-weight: 600;
    font-size: 32px;
  }

  label {
    font-size: 26px;
  }

  .contactbtn {
    width: 72%;
    margin-bottom: -20px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
  }

  /* Email section */
    .email {
      text-align: left;
      width: 72%;
      margin: 0 auto;
    }

    input {
      width: 70%;
    }

  /* Message section */
    .message {
      text-align: left;
      width: 72%;
      margin: 0 auto;
    }

    textarea {
      width: 70%;
    }
}


@media screen and (min-width: 992px) {
/* Universal CSS applied to ALL pages */

  /* Top Bar */
    nav {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }

    .logo {
      width: 3.5rem;
      height: 3.5rem;
      margin-left: 2%;
    }

  section {
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  hr {
    width: 85%;
  }

  .problemsolutionsection {
    margin-bottom: -30px;
    display: flex;
    justify-content: space-between;
  }

  .problemsection {
    max-width: 50%;
    margin-right: 75px;
  }

  .solutionsection {
    max-width: 50%;
  }

  p {
    font-size: 25px;
    line-height: 1.8rem;
  }

  /* Contact Links at bottom */
    footer {
      margin-left: auto;
    }

    .linkedin img {
      width: 40%;
      margin: 30px;
    }

    .mail img {
      width: 40%;
      margin: 30px;
    }

    .twitter img {
      width: 40%;
      margin: 30px;
    }

/* CSS specific to PointBox Case Study (project) */

  .PBHeader img {
    max-width: 650px;
    margin-top: 25px;
  }

  .pointboxtitle {
    padding-top: 15px;
    font-size: 44px;
  }

  /* Description of app */
  .whatPBIs {
    max-width: 650px;
  }

  button {
    font-size: 25px;
  }

  h2 {
    font-size: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  h3 {
    font-size: 38px;
    margin-bottom: 20px;
  }

  .quote {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .callout {
    font-size: 35px;
  }

  .swotsection {
    margin-bottom: 7%;
  }

  .CompetitiveAnalysisTitle {
    margin-top: -25px;
  }

  /* User Research Section */
  .userresearchSection {
    margin-bottom: -1%;
  }

  .stylebtn {
    margin-top: 10px;
  }

  /* Preference Tests Section */
    .preferenceTesting {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: baseline;
    }

    .pt1 {
      width: 30%;
      padding-left: 3%;
      padding-right: 3%;
    }

    .pt2 {
      width: 30%;
      padding-left: 3%;
      padding-right: 3%;
    }

    .pt3 {
      width: 30%;
      padding-left: 3%;
      padding-right: 3%;
    }

    .ptdescription {
      margin-bottom: -5%;
    }

    .PTDecisions {
      margin-top: 50px;
    }

  /* Conclusion Section */
  .conclusionsection {
    margin-bottom: -20px;
    padding-top: 20px;
  }

  /* Back To Top Link */
  .backtotop {
    margin-bottom: -1px;
    margin-top: 10px;
  }

/* CSS specific to Bio */
  
  .uxjourney {
    margin-bottom: -50px;
  }

/* CSS specific to Contact Form */

  .blurbsection {
    margin-bottom: -25px;
  }

  .blurb {
    width: 625px;
  }

  .blurbtitle {
    width: 625px;
    font-size: 36px;
  }

  /* Email section */
    .email {
      width: 610px;
      margin: 0 auto;
    }

    input {
      width: 600px;
    }

  /* Message section */
    .message {
      width: 610px;
      margin: 0 auto;
    }

    textarea {
      width: 600px;
    }

    .contactbtn {
      width: 625px;
      margin-right: auto;
      margin-left: auto;
    }
}